<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body style="background-color: #1b212c;">
    <div class="container">
        <div class="row">
            <div class=" col-sm-4">
                <meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-7db19fe8-7fff-88ee-3850-425bced50ef9"><img width="118px;" height="89px;" src="https://lh4.googleusercontent.com/FkcerBOsMwQFIseLbPTY3NgPSe8feXdvxux2vLkh3lPPOb7Wlh4bzQA0KCPgPWX4ehCcMSfliPpUN4hotqgyedToVd1BfvxwZx6GJNm2UeGrhT9qXEdRCxhLHNAsK95GTD53w4WH1-M" /></b>
            </div>
            <div class="navText">
                <div class="col-sm-2" align="right">
                    <br />
                    <a href="HomePage.cshtml">Home</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="fghdh.cshtml">List</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="Create.cshtml">Create</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="titleText" align="center">The Tri-Star Barrel Corporation</h1>
                <hr style="width:50%">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-sm-6 col-sm-offset-3">
            The Tri-Star Barrel Corporation is a unique company that creates websites designed to keep track of you inventory. The website is equipped to handle both large and small quantities of information. Use the navigation tab to directly create a barrel navigate to the List Page to view your created barrels.
            </div>        
            </div>
        <br />
        <br />
        <br/>
        <footer>
            *The Tri-Star Barrel Corporation does not create the barrels we simply keep track of already made barrels*
        </footer>
    </div>
</body>