<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body style="background-color: #1b212c;">
    <div class="container">
        <div class="row">
            <div class=" col-sm-4">
                <img src="~/Content/TriStar Logo.jpg img" width="118px;" height="89px;"  />
            </div>
            <div class="navText">
                <div class="col-sm-2" align="right">
                    <br />
                    <a href="HomePage.cshtml">Home</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="fghdh.cshtml">List</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="Create.cshtml">Create</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="majorHeading" align="center">The Tri-Star Barrel Corporation</h1>
                <hr style="width:50%">
            </div>
        </div>
        <p align="center">
            <img src="~/Content/ct-1516211629-mkjhk4knoh-snap-image.jpg" />
        </p>
        <div class="row" align="center">
            <div class="col-sm-6 col-sm-offset-3 generalText">
                The Tri-Star Barrel Corporation is a unique company that creates websites designed to keep track of you inventory. The website is equipped to handle both large and small quantities of information. Use the navigation tab to directly create a barrel and navigate to the List Page to view your created barrels.
            </div>
        </div>
        <br />

        <br />
        <footer class="generalText" align="center">
            *The Tri-Star Barrel Corporation does not create the barrels we simply keep track of already made barrels*
        </footer>
    </div>
</body>