<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />
    <title>Home Page</title>
</head>
<body style="background-color: #1b212c;">
    <div class="container">
        From Here to the end of the row is the heading for all pages
        <div class="row">
            <div class=" col-sm-4">
                <meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-7db19fe8-7fff-88ee-3850-425bced50ef9"><img width="118px;" height="89px;" src="https://lh4.googleusercontent.com/FkcerBOsMwQFIseLbPTY3NgPSe8feXdvxux2vLkh3lPPOb7Wlh4bzQA0KCPgPWX4ehCcMSfliPpUN4hotqgyedToVd1BfvxwZx6GJNm2UeGrhT9qXEdRCxhLHNAsK95GTD53w4WH1-M" /></b>
            </div>
            <div class="navText">
                <div class="col-sm-2" align="right">
                    <br />
                    <a href="HomePage.cshtml">Home</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="fghdh.cshtml">List</a>
                </div>
                <div class="col-sm-2 col-sm-offset-1" align="right">
                    <br />
                    <a href="Create.cshtml">Create</a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="color:white">
                <h1 align="center">The Tri-Star Barrel Corporation</h1>
                <hr / style="width:50%">
            </div>
        </div>
    </div>
</body>