.navText {
    font-family: Source Sans Pro;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

.minorHeading2 {
    font-family: Georgia;
    font-weight: bold;
    color: black;
    font-size: x-large;
}

.titleText {
    font-family:
}
