body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navText {
    font-family: Source Sans Pro;
    color: white;
    font-size: large;
}
a:link {
    color: white;
}
a:hover{
    color: white;
}

.minorHeading2 {
    font-family: Georgia;
    font-weight: bold;
    color: black;
    font-size: x-large;
}

.titleText {
    font-family: Lato;
    font-weight: bold;
    color: white;
    font-size: xx-large;
}

#navigationBar {
    background-color: #1b212c;
    font-family: Lato;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

