@{
    ViewBag.Title = "delete";
}

<h2 class="majorHeading">Delete</h2>

<h3>Are you sure you want to delete this barrel?</h3>
<div>
    <h4>Delete</h4>
    <hr />
    
    <div align="center">
        <p class="generalText">Date created: </p>
        <p class="generalText">Contents: </p>
        <p class="generalText">Current Location: </p>
        <p class="generalText">Construction Material: </p>
        <p class="generalText">Radius: </p>
        <p class="generalText">Height: </p>
        <p class="generalText">Weight: </p>
    </div>

    <div class="generalText">This deletion will be permanent</div>

    
</div>
