
@{
    ViewBag.Title = "Create";
}
    <body style="background-color:#1b212c;">
        <link href="~/Evan/Create.css" rel="stylesheet" />
        <div class="container-fluid">
            <br />
            <div id="background">
                <div class="row">
                    <div class="offset-md-9 col-sm-3 ">
                        <div class="row">
                            <div id="navigationBar">
                                <a href="https://localhost:44325/Evan/Home.html" class="buttonFormatting" align="center">Home</a>
                                <a href="https://localhost:44325/Jacob/AboutUs.html" class="buttonFormatting" align="center"> List</a>
                                <a href="https://localhost:44325/Website%20Tools/Donor.html" class="buttonFormatting" align="center">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <h3 class="majorHeading" align="center">Create a Barrel</h3>

                </div>
            </div>
        </div>
    </body>