@{ 
    ViewBag.Title = "fghdh";
}



<div class="row">
    <div class="col-md-3">
        <p>2 - 2 - 2020</p>
        <p>Date</p>
    </div>
    <div class="col-md-3">
        <p>War Matirials</p>
        <p>Contents</p>
    </div>
    <div class="col-md-3">
        <p>2000</p>
        <p>Weight(Lbs)</p>
    </div>
    <div class="col-md-3">
        <p>Washington</p>
        <p>Location</p>
    </div>
</div>
